:root{
  --sans: 'Montserrat', sans-serif;
  --serif: 'Josefin Slab', serif;
  --mono: 'Noto Sans Mono', monospace;
  --black: #01161E;
  --dark: #203F4A;
  --mid: #3c5a68;
  --light: #7A8F96;
  --white: #DCE5DD;
  --peach: #FFC2B4;
  --red: #EC5D69;
  --green: #ACDF3E;
  --blue: #3EC5FA;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--mono);
  padding: 2vw;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
  margin: 1.6rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 5px;
  border: 3px solid var(--mid);
}
h1 {
  font-family: var(--sans);
  font-weight: 900;
  font-size: 4vw;
  color: var(--blue);
}
h2 {
  font-size: 2rem;
  color: var(--blue);
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  margin: 0;
}
p {
  font-size: 1rem;
  margin: 0;
  font-family: var(--serif);
}
.group-header {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--blue);
}
nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25em;
}
.hero {
  width: 85vw; 
  margin-inline: auto;
}
.flex-container {
  display: flex;
  align-items: baseline;
}
.flex-item {
  display: flex;
  width: 50%;
  justify-content: center;
}
.align-center{
  margin-inline: auto;
  align-self: baseline;
  text-align: center;
}
.left-wrapper{
  width: 50%;
}
button {
  background-color: var(--light);
  border: none;
  outline: none;
  height: max-content;
  font-family: var(--sans);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--dark);
  border-radius: 1.6rem;
  padding: 0.75ex;
}
button:hover {
  background-color: var(--white);
}
button:active {
  background-color: var(--green);
}
form button {
  font-size: 1rem;
}
form {
  background-color: var(--mid);
  width: 100%;
  height: max-content;
  margin: 2%;
  padding: 4%;
  border-radius: 1rem;
}
form:focus-within, form:hover {
  outline: solid 3px var(--blue);
}
ul {
  list-style: none;
  width: max-content;
  margin: auto;
  padding: 0;
  text-align: right;
}
li {
  font-size: 1.5rem;
  margin: 0.3rem;
}
label {
  font-family: var(--serif);
}
input {
  background-color: var(--light);
  outline: none;
  border: none;
  color: var(--black);
  font-family: var(--mono);
  font-size: 1.25rem;
}
input::placeholder {
  color: var(--mid);
}
input:hover {
  background-color: var(--white);
}
input:focus {
  background-color: var(--light);
}
p.err {
  color: var(--red);
  text-align: right;
  font-family: var(--mono);
}
p.success {
  font-family: var(--mono);
  color: var(--green);
}
.characters-container {
  position: relative;
  height: 80vh;
  overflow: auto;
  scrollbar-width: thin;
  padding: 1rem;
  background-color: var(--mid);
  border-radius: 1.6rem;
}
.delete-confirmation {
  position: absolute;
  background-color: rgba(60, 90, 104, 0.8); 
  top: -13rem;
  left: 5%;
  padding-block: 25px;
  width: 90%;
  box-shadow: 0px 0px 20px 20px rgba(60, 90, 104, 0.8);
}
.delete {
  background-color: var(--red);
}
.delete-confirmation p {
  font-family: var(--sans);
  font-weight: 600;
  font-size: 1.5rem;
  width: 80%;
  margin-block: auto;
  margin-inline: auto;
}
.delete-confirmation div {
  font-size: 1.25rem;
  width: 100%;
  margin-inline: auto;
  justify-content: space-around;
}
.characters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em;
  margin-top: 1em;
}
.char-grid-item {
  background-color: var(--light);
  color: var(--black);
  font-size: 1.2em;
  border-radius: 1em;
  padding: 1em;
  font-weight: 600;
}
.char-grid-item:hover {
  background-color: var(--peach);
  font-weight: 900;
}
.char-grid-item:active {
  background-color: var(--green);
}
.char-name {
  font-family: var(--sans);
  color: var(--white);
}
.char-race, .char-class {
  color: var(--green);
}
.char-grid-item:hover :is(p) {
  color: var(--black)
}
div.character-options {
  position: relative;
  column-gap: 0.25em;
  padding: 0.25em;
  padding-inline: 1.6rem;
}
.character-options button {
  font-size: 1.2em;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
#new-character {
  font-size: 1rem;
}
.sheet p, .ase-wrapper p {
  font-size: 1.25rem;
}
.sheet :is(input) {
    font-size: 1rem;
    height: 1rem;
    margin-left: 1ch;
    min-width: 1rem;
    padding: 0;
}
.sheet :is(input).align-center {
    display: flex;
    margin-inline: auto;
}
.sheet :is(input[type="text"],input[type="number"]) {
  color: var(--green);
  background: none;
  border-bottom: 2px solid var(--light);
  padding-bottom: 2px;
}
.sheet :is(input[type="text"],input[type="number"])::placeholder {
  color: var(--dark)
}
.sheet :is(input[type="text"],input[type="number"]):hover {
  background-color: var(--white);
  border-bottom: 2px solid var(--peach);
}
.sheet :is(input[type="text"],input[type="number"]):focus {
  background-color: var(--light);
  border-bottom: 2px solid var(--green);
}
.sheet div {
  margin-block: 0.5rem;
  padding-bottom: 2px;
}
.sheet div div {
  margin-block: 0;
  padding-bottom: 0;
  box-shadow: none;
}
.sheet input[type="number"]{
  -moz-apperance: textfield;
  appearance: textfield;
  width: 4ch;
}
.sheet input[type="number"]::-webkit-inner-spin-button,
.sheet input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sheet input[type="button"] {
  width: 1rem;
  color: transparent;
}
.sheet input[type="button"][value="true"] {
  background-color: var(--green)
}
.sheet input[type="button"]:active {
  background-color: var(--peach);
}
.identity {
  width: 50%;
  margin-right: 5%;
}
.identity input[type="text"] {
  width: 15ch;
}
.hp input[type="text"] {
  width: 7ch;
}
.identity .flex-container,
.class-details .flex-container{
  justify-content: space-between;
  margin-block: 0;
  margin-bottom: 0.1rem;
}
.class-details{
  width: 48%;
}
.experience input[type="number"]{
  width: 100%;
  margin-left: 2%;
}
.hp .flex-container,
.death-saves .flex-container,
.stats .flex-container,
.battle-stats .flex-container,
.skills .flex-container {
  justify-content: space-between;
}
.mod.flex-container{
  justify-content: left;
  column-gap: 1ch;
}
.stats .grid-container{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
}
.skills .grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr;
  row-gap: 0.4rem;
}
.skills .grid-container .grid-row {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  align-items: baseline;
}
.str-mod,
.dex-mod,
.con-mod,
.int-mod,
.wis-mod,
.cha-mod,
.AC {
  font-family: var(--mono);
  color: var(--peach);
  width: 2ch;
}
.right-wrapper {
  width: calc(50% - 0.5rem);
  margin-left: 0.5rem;
}
.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tab[data-selected="true"] {
  background-color: var(--black);
  color: var(--white);
}
.ase-wrapper {
  background-color: var(--black);
  padding: 1rem;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  height: calc(80vh - 55px);
}
.ase-wrapper > div{
  display: none;
  height: inherit;
  overflow-y: auto;
}
.ase-wrapper button {
  font-size: 1rem;
}
.tags {
  color: var(--green);
  margin-bottom: 1rem;
}
.tag-header {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.tag-list {
  display: inline-flex;
  gap: 0.5rem;
  color: var(--mid);
}
.tag-list p {
  border-color: var(--mid);
  border-style: solid;
  padding: 0.25rem;
  border-radius: 1.6rem;
  font-weight: 900;
}
.tag-list p:hover {
  background-color: var(--mid);
  color: var(--light);
}
.form {
  background-color: var(--dark);
  margin-block: 0.5rem;
  padding: 1rem;
  border-radius: 1.6rem;
}
.form ul{
  width: auto;
}
.form .explainer {
  color: var(--light);
  margin-top: 0.25rem;
}
.form textarea {
  background-color: var(--light);
  font-size: 1rem;
  font-family: var(--mono);
  color: var(--green);
  width: 90%;
  height: 6rem;
  border: none;
}
.form textarea::placeholder {
  color: var(--dark);
}
.form textarea:hover {
  background-color: var(--white);
}
.form textarea:focus {
  background-color: var(--light);
  outline: none;
  border: none;
}
.form input {
  color: var(--green);
}
.ability {
  padding-block: 0.5rem;
}
.ability p {
  margin-block: 0.25rem;
  margin-left: 1rem;
}
.ability .group-header {
  margin-left: 0;
}
.list {
  overflow-y: auto
}