:root{
    --sansSerif: 'Verdana', sans-serif;
    --serif: 'didot', serif;
    --black: #1C2826;
    --green: #CEEA9A;
    --darkGreen: #3E4832;
    --white: #EEF4D4;
    --peach: #EA9E8D;
    --darkPeach: #614942;
    --red: #EC5D69;
}
body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--sansSerif);
    font-size: 14pt;
}
p {
    display: inline;
    margin: 0;
    margin-block: auto;
}
h1 {
    color: var(--peach);
    font-family: var(--serif);
    display: inline-block;
    margin: 0;
    margin-block: auto;
}
input[type='text'] {
    background-color: var(--darkGreen);
    color: var(--white);
    font-family: var(--sansSerif);
    font-size: 14pt;
    border: 0;
    border-radius: 2pt;
    height: clamp(16pt,calc(100% - 6pt), 2pc)
}
input[type='text']:hover {
    background-color: var(--darkPeach);
}
input[type='text']:focus {
    background-color: var(--green);
    color: var(--darkGreen);
}
input[type='button']{
    color: var(--white);
    align-self: center;
    height: 14pt; width: 14pt;
    background-color: var(--white);
    border: 0; outline: 0;
    border-radius: 7px;
}
input[type='button'][value='true']{
    background-color: var(--red);
    color: var(--red);
}
input[type='button']:hover,
input[type='button'][value='true']:hover {
    background-color: var(--peach);
    color: var(--peach);
}
*:focus{
    outline: 0;
}
div.sheet{
    width: 800px;
    height: 80vh;
    overflow-y: scroll;
    padding: 1pc;
    border-radius: 6pt;
    margin: 0;
    margin-top: 2pc;
    margin-inline: 10px;
    box-shadow:
        0 0 10px 5px var(--darkPeach),
        inset 0 0 3px 3px var(--darkPeach)
}
.Hit_Points,
.Death_Saves,
.Stats, 
.Skills,
.Currency {
    margin-block: 1pc;
    border-radius: 6pt;
    padding: 1pc;
    box-shadow:
        0 0 10px 5px var(--darkGreen),
        inset 0 0 3px 3px var(--darkGreen)
}
.Hit_Points div,
.Death_Saves div,
.Stats div, 
.Skills div,
.Currency div {
    display: flex;
    flex-flow: row nowrap;
}
.Hit_Points > div,
.Death_Saves > div,
.Stats > div,
.Skills > div,
.Currency > div {
    display: flex;
    flex-flow: row wrap;
}
.STR h1,
.DEX h1,
.CON h1,
.INT h1,
.WIS h1,
.CHA h1,
.Acrobatics h1,
.Animal_Handling h1,
.Arcana h1,
.Athletics h1,
.Deceptions h1,
.History h1,
.Insight h1,
.Intimidation h1,
.Investigation h1,
.Medicine h1,
.Nature h1,
.Perception h1,
.Performance h1,
.Persuasion h1,
.Religion h1,
.Slight_Of_Hand h1,
.Stealth h1,
.Survival h1 {
    color: var(--red);
    font-family: var(--serif);
    font-size: 21pt;
    padding-left: 1pc;
}
.Max h1,
.Temp h1,
.Damage h1,
.Pass h1,
.Fail h1,
.Base h1,
.Save h1,
.Proficiency h1,
.Mod h1,
.Platnium h1,
.Gold h1,
.Electrum h1,
.Silver h1,
.Copper h1 {
    color: var(--green);
    font-family: var(--sansSerif);
    font-size: 16pt;
    padding-left: 6pt;
}
input[type='button'].option {
    height: 36px;
    width: auto;
    margin: 14px;
    margin-left: 26px;
    align-self: center;
    font-size: 1pc;
    font-weight: 600;
    text-align: center;
    color: var(--black);
    background-color: var(--peach)
}
input[type='button'].option:hover {
    background-color: var(--white)
}
input[type='button'].option:active {
    background-color: var(--red)
}